<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../img/icon.png">
</head>

<body> 
    
    <!--HEADER-->
    <header>
        <div>
            <h1>Emmalu</h1>
            <p>Cada gran diseño comienza con una gran historia</p>
        </div>
    </header>
    <!--NABVAR-->
    <nav class="nabvar">
        <a href="../../index.html">INICIO</a>
        <a href="../../public/views/nuestrostrabajos.html">NUESTROS TRABAJOS</a>
        <a href="../../public/views/formu.html">FORMULARIO DE REGISTRO</a>
    </nav>
    <!--PARTE PRINCIPAL-->
    <div class="principal">
        <main class="contact-main">
            <h2>Contacto</h2>
            <p>Ponte en contacto con nosotros para más información</p>
           <form action="">
              <fieldset>
              <legend>Formulario de Registro</legend>
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre" id="nombre" required>
              <label for="apellido">Apellido</label>
              <input type="text" name="apellido" id="apellido" required>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" required>
              <label for="pass">Contraseña</label>
              <input type="password" name="pass" id="pass" required>
              <label for="fecha">Fecha de Nacimiento</label>
              <input type="date" name="fecha" id="fecha">
              <input type="submit" value="Registrarse">
              <input type="reset" value="Borrar">
              </fieldset>
          </form>
        </main>
    </div>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../img/logofooter.png" alt="Emmalu">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
             
                <p>Local Abierto al publico,para información contactarse via whatsapp</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/EmmaluFRAN/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/emmalu026" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>Jonathan Figueroa</b> - Todos los Derechos Reservados.</small>
        </div>
</footer>
</body>
</html>
